body {
    background-image: url("../images/bg-image-appointment.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
p {
    font-size: larger;
    text-align: justify;
}
.text-center {
    font-size: medium;
}
.form-control {
    border: 2px solid black;
}

#formcss input,
#formcss select,
#formcss textarea {
    box-shadow: 5px 5px 15px 10px #000000;
    margin-bottom: 25px;
}

#formcss label {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
}
#formcss textarea {
    height: 100px;
    resize: none;
}
