body {
    background-image: url("../images/bg-image-appointment.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
p {
    font-size: larger;
}
.text-center {
    font-size: medium;
}
.form-control {
    border: 2px solid black;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .form-control {
        width: 100%;
    }
    
    /* Дополнительно можно добавить стили для других элементов формы */
    #orderForm form {
        width: 100%;
    }
    
    #orderForm select,
    #orderForm input,
    #orderForm textarea {
        width: 100%;
    }
}
