.container-fluid {
    display: flex;
    justify-content: center;
}
.img-fluid {
    box-shadow: 5px 5px 25px 19px #000000;
    border-radius: 10px; 
}
body {
    background-image: url("../images/bg-image-gallery.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
h1 {
    text-align: center;
}