.container-fluid {
    display: flex;
    justify-content: center;
}
body {
    background-image: url("../images/bg-image-license.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.img-fluid {
    box-shadow: 0 0 20px 0 rgb(107, 80, 80);
}