/* main.html */
body {
    background-color: rgb(205, 205, 205);
    font-size: larger;
    text-align: justify;
}
h5 {
    color: rgb(187, 247, 84);
}

#div-header {
    display: flex;
}
#mesto {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white; 
}
#mesto-p {
    width: 70%;
    text-align: justify;
    font-size: larger

}
#main-block-01, #main-block-03 {
    flex: 1;
    max-width: 33.33%;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}
#main-block-02
{
    flex: 1;
    max-width: 33.33%;
    text-align: left;
    font-size: medium;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}