body {
    background-image: url("../images/bg-image-preparation.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
/* h3, p, ul {
    font-size: medium;
} */
h1 {
    text-align: center
}