.container-fluid {
    display: flex;
    justify-content: center;
}
body {
    background-image: url("../images/bg-image-reviews.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}
#pagination {
    display: flex;
    justify-content: center;
}

.img-fluid {
    box-shadow: 5px 5px 20px 14px #000000;
    border-radius: 10px;
}