<footer class="bg-dark text-white py-4">
  <div class="container-fluid px-4 py-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5>Наши контакты</h5>
        <ul class="list-unstyled">
          <li>
            <i class="bi bi-telephone-fill"></i> <a class="text-white text-decoration-none" href="tel:+79025337230">+7 (3012) 66-00-88</a>
          </li>
          <li>г Улан-Удэ, пр-т. Строителей, д. 18</li>
          <li>Пн-Пт: 09:00 - 12:00; 13:00 - 17:00</li>
          <li>Сб: 09:00 - 12:00; 13:00 - 15:00</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12">
        <h5>Мы на карте</h5>
        <div class="map-container"
             style="position: relative;
                    width: 100%;
                    height: 300px;
                    overflow: hidden">
          <script type="text/javascript"
                  charset="utf-8"
                  async
                  src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2e03bb2e43c28a96605d245eabe3f0447834a71fd476f6a4f051811c280726ba&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
      </div>
      <div class="col-12 text-center mt-4">
        <p>&copy; {% now 'Y' %} Медицинский кабинет "Диагностика здоровья"</p>
        <p>Автор: @alextopdpu</p>
      </div>
    </div>
  </div>
</footer>
