{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Записаться на прием{% endblock %}
{% block body_style %}
  style="background-image: url('/media/backgrounds/bg-image-appointment.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;"
{% endblock %}
{% block content %}
  <div class="container py-4 content-block mt-2 mb-5">
    <h1 class="text-center mb-4">Запись на обследование</h1>
    <p class="text-justify">
      Хотите быть здоровым? Не откладывайте возможность проверить себя — запишитесь на обследование прямо сейчас! Наши врачи ждут вас, чтобы оказать самые качественные медицинские услуги. Заполните форму, напишите удобное для вас время и мы свяжемся с Вами в ближайшее время! Помните - лучше обследоваться, чем лечиться!
    </p>
    <form action="" method="post" class="mt-4">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button "Отправить" button_type="submit" button_class="btn-primary" %}
    </form>
  </div>
  <script>
    async function fetchServices(masterId) {
      const url = `/get_services_by_master/${masterId}/`;
      const response = await fetch(url);
      const data = await response.json();
      return data.services;
    }
    function updateServiceOptions(services) {
      const serviceSelect = document.getElementById("id_services");
      serviceSelect.innerHTML = "";
      services.forEach(function (service) {
        const option = document.createElement("option");
        option.value = service.id;
        option.text = service.name;
        serviceSelect.appendChild(option);
      });
    }
    function setupServiceSelectListener() {
      const masterSelect = document.getElementById("id_master");
      masterSelect.addEventListener("change", async function () {
        const masterId = masterSelect.value;
        const services = await fetchServices(masterId);
        updateServiceOptions(services);
      });
    }
    document.addEventListener("DOMContentLoaded", setupServiceSelectListener);
  </script>
{% endblock %}
