{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Галерея</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1 class="mb-0 mt-5">Наш кабинет: снаружи и внутри</h1>
    <div class="container-fluid px-4">
        <div class="row">
          <div class="col-12 mt-4 mb-4">

                {% for gallery in gallerys %}
                <div class="mb-5">
                    <img src="{{ gallery.photo.url }}" class="img-fluid" alt="Gallery">
                </div>
                {% endfor %}
            </div>
        </div>
    </div> 
    {% endblock %}
        {% block footer %}
    <footer>
        <div class="container-xl">
            <p class="text-center">&copy; 2024 Медицинский кабинет "Диагностика здоровья"</p>
            <p class="text-center">Автор: @alextopdpu</p>
        </div>
    </footer>
    {% endblock %} 
</body>
</html>