{% extends "base.html" %}
{% block title %}Галерея{% endblock %}
{% block body_style %}
  style="background-image: url('/media/backgrounds/bg-image-gallery.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;"
{% endblock %}
{% block content %}
  <div class="container py-4 content-block mt-2 mb-5">
    <h1 class="text-center mb-4">Наш кабинет: снаружи и внутри</h1>
    <div class="row">
      {% for gallery in galleries %}
        <div class="col-12 mb-4 text-center">
          <img src="{{ gallery.photo.url }}"
               class="img-fluid rounded shadow"
               alt="{{ gallery.name }}">
        </div>
      {% empty %}
        <p class="text-center">Галерея пока пуста.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
