{% extends "base.html" %}
<title>
  {% block title %}Подготовка к УЗИ{% endblock %}
</title>
{% block content %}
  <div id="preparation" class="mt-4 mb-4">
    <h1>Как подготовиться к УЗИ?</h1>
    <p></p>
    <h3>УЗИ органов брюшной полости</h3>
    <p>
      1. За <b>3 дня</b> до предстоящего исследования рекомендована лёгкая диета без применения продуктов, усиливающих перистальтику кишечника и газообразование:
    </p>
    <ul>
      <li>мучные изделия;</li>
      <li>черный хлеб;</li>
      <li>сырые овощи и фрукты;</li>
      <li>бобовые;</li>
      <li>молоко;</li>
      <li>соки;</li>
      <li>газированные напитки и другие;</li>
    </ul>
    <p>
      2. Рекомендуется прием в течение <b>3 дней</b> активированного угля и ферментативных препаратов.
    </p>
    <p>
      3. Исследование проводится натощак: не пить и не есть. Последний приём пищи должен быть минимум за <b>6 часов</b> до исследования.
    </p>
    <h3>УЗИ щитовидной железы, лимфатических узлов и почек</h3>
    <p>Специальной подготовки не требуется.</p>
    <h3>Подготовка к УЗИ простаты и мочевого пузыря у мужчин (трансректальное)</h3>
    <p>
      В день исследования утром обязателен стул, при запорах – клизма,  либо слабительное на ночь. За <b>1 час</b> до назначенного времени исследования выпить <b>0,7-1,0 литра</b> воды.
    </p>
    <h3>Подготовка к УЗИ малого таза (трансабдоминальное)</h3>
    <p>
      Проводится при полном наполнении мочевого пузыря (за <b>1 час</b> до исследования необходимо выпить <b>1 литр</b> воды и не мочиться).
    </p>
    <h3>Подготовка к УЗИ малого таза у женщин (трансвагинальное)</h3>
    <p>
      Необходимо за 1 час до назначенного времени выпить <b>0,7-1,0 литра</b> воды. Рекомендуется проводить с <b>5 по 8 день</b> менструального цикла.
    </p>
    <h3>Подготовка к УЗИ молочных желез</h3>
    <p>
      1. Сроки проведения исследования определяет лечащий врач.
      <br>
      2. Если сроки врачом не оговорены, то исследование рекомендуется проводить <b>с 5 по 10 день</b> менструального цикла.
    </p>
  </div>
{% endblock %}
