{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подготовка к УЗИ</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/preparation.css' %}" />
    {% endblock %}
</head>
<body>
    {% block content %}
    <div id="preparation" class="mt-4 mb-4">
        <h2>Как подготовиться к УЗИ?</h2>
        <h3>УЗИ брюшной полости</h3>
        <p>1. За 1–2 дня до исследования <b>исключите продукты, которые вызывают газообразование:</b></p>
        <ul>
            <li> все молочное;</li>
            <li> черный хлеб;</li>
            <li> бобовые;</li>
            <li> свежие фрукты и овощи;</li>
            <li> газированные напитки.</li>
        </ul>
        <p>Если есть проблемы с желудочно-кишечным трактом, диеты бывает недостаточно. Чтобы снизить газообразование, по рекомендации врача можно также <b>принимать препарат-адсорбент</b> перед сном.</p>
        </p>
        <p>2. На УЗИ приходите <b>в утреннее время и строго натощак.</b> В некоторых случаях исследование проводят днем — тогда есть, пить и принимать лекарства запрещено в течение минимум 5 часов до процедуры.</p>
        <p>3. Если вам необходимо провести функциональную диагностику желчного пузыря, возьмите с собой <b>желчегонный завтрак.</b> Например, 2 вареных яйца и столовую ложку жирной сметаны или жирного йогурта. Орган исследуют дважды: перед едой и после.</p>
        <p>4. Если делаете УЗИ в государственном медучреждении, возьмите с собой <b>салфетки и полотенце</b> или купите в аптеке одноразовое. Частные медцентры обычно сами предоставляют средства гигиены.</p>
    </div>
    {% endblock %}   
</body>
</html>