{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Цены{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/price.css' %}" />
    {% endblock %}
</head>
<body class="price">
    {% block content %}
    <div class="container-fluid px-4">
        <h2 class="mt-4 mb-4">Цены</h2>
        <div class="table-responsive">
            <table class="table table-striped mb-5">
                <!-- Содержимое таблицы остается без изменений -->
            </table>
        </div>
    </div>
    {% endblock %}  
    {% block footer %}
    <footer class="container-fluid">
        <p class="text-center">&copy; 2024 Медицинский кабинет "Диагностика здоровья"</p>
        <p class="text-center">Автор: @alextopdpu</p>
    </footer>
    {% endblock %}  
</body>
</html>
