{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отзывы</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/review.css' %}" />
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 mt-5 mb-4 mb-lg-0">
                {% for i in page_obj %}
                <div class="mb-5">
                    <img src="{{ i.photo.url }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <nav id="pagination" class="list-pages">
        <ul class="pagination">
            {% for p in page_obj.paginator.page_range %}
                {% if page.obj.number == p %}
                    <li class="page-item page-item-selected"
                        {{ p }}
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ p }}">
                            {{ p }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endblock %}

</body>
</html>