{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Диагностика здоровья{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% endblock %}
</head>
<body>
    <header>
        {% block nav %} {% include "includes/nav.html" %} {% endblock %}
    </header>
    {% block content %}
    <div id="div-header">
        <div id="main-block-01">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, perferendis.</p>
        </div>
        <div id="main-block-02">
            <p><i class="bi bi-house"></i> Адрес: г.Улан-Удэ, пр-т Строителей, 18</br><i class="bi bi-telephone"></i> Телефон: 66-00-88</br><i class="bi bi-clock"></i> Время работы:</br>Пн-Пт: 9:00-12:00; 13:00-17:00</br>Сб: 9:00-12:00; 13:00-15:00</p>
        </div>
        <div id="main-block-03">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, aperiam velit!</p>
        </div>
    </div>
    <div id="mesto">
        <p id="mesto-p"> Медицинский кабинет "Диагностика здоровья" - это место, где Вы можете получить качественные медицинские услуги в области ультразвуковой диагностики. Прием ведет опытный и квалифицированный врач - Топычканова Ангелина Владимировна, имеющий за спиной большой багаж знаний и опыт работы более 17 лет!</p>
    </div>
    {% endblock %}   
</body>
</html>